<mat-toolbar>
    Editar Produto
    <span class="spacer"></span>
</mat-toolbar>
<app-spinner-default [isLoading]="isLoading"></app-spinner-default>
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" id="formEditProduto">


            <div class="file-uploadedContent">
                <div class="file-upload">
                    <label for="file-input" class="upload-label">
                        <mat-icon>cloud_upload</mat-icon>
                        <span *ngIf="!fotoSelecionada">Clique para fazer o upload<br>ou arraste e
                            solte aqui</span>
                        <span *ngIf="fotoSelecionada">Nova Foto Selecionada!<br> </span>
                    </label>
                    <input type="file" id="file-input" (change)="salvarFotoAtual($event)">
                </div>
                <div class="atualFotoProduto">
                    <img src={{produto.img}} alt="" width="72px" height="72px"
                        *ngIf="!fotoSelecionada && produto.img.length">
                </div>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nome do Produto</mat-label>
                    <input matInput formControlName="nome" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Preço Venda</mat-label>
                    <input matInput formControlName="preco" (input)="onInputPoint($event)" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Preço Consumo</mat-label>
                    <input matInput formControlName="precoConsumo" (input)="onInputPoint($event)" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="categoria" required>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{categoria.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

        <div class="containerButtonsEditProduto">
            <button class="saveButton" mat-button (click)="saveProductEdited(form.value)">
                <mat-icon>save</mat-icon>
                <span>Salvar</span>
            </button>

            <button class="cancelButton" mat-button (click)="closeEditDialog()">
                <mat-icon>cancel</mat-icon>
                <span>Cancelar</span>
            </button>
        </div>

    </mat-card-content>
</mat-card>